@import '../../../../scss/reuse-mixin.scss';

.package-search-box {
  .shared-select {
    .MuiSelect-icon {
      color: $text-color-blue-6;
      margin-right: 6px;
    }

    .MuiSelect-root {
      padding: 12px 20px 3px 16px;
      background: transparent;
    }

    .Mui-focused {
      .MuiSelect-root[aria-expanded='true'] {
        border: 1px solid $text-color-blue-6;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .input-search-field {
    .MuiInputLabel-animated {
      color: #4f4b66;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
    }

    input {
      padding: 11px 16px;
      border: 1px solid $bg-color-blue-5;
      height: 42px;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;

      &:hover,
      &:focus {
        transition: 0.2s;
        border: 1px solid $text-color-blue-6;
        box-shadow: 0 7px 15px 0 $box-shadow-field;
      }
    }
  }
}
