.package-import {
  &__success-container {
    padding: 70px 0;
  }

  &__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-bottom: 20px;
  }

  &__filename-container {
    display: flex;
    padding: 24px 0 0;

    &__title {
      white-space: nowrap;
      text-align: left;
      color: black;
    }

    &__value {
      text-align: left;
      color: #5fb15c;
    }
  }

  &__failure-text {
    text-align: left;
    margin: 24px 0 5px;
    color: red;
  }

  &__button-group {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
  }
}
