@import '../../../../scss/reuse-mixin.scss';

.car-discount-import-page {
  &__control-btn {
    display: flex;
    justify-content: space-between;

    .control-btn-group {
      display: flex;
      margin-left: 56px;

      button {
        text-transform: uppercase;
      }
    }
  }

  .MuiCard-root {
    width: 100%;
  }

  .MuiCardContent-root {
    padding: 16px 0;
  }

  .MuiTableCell-root.MuiTableCell-body {
    &:nth-child(1) {
      text-align: center;
    }

    &:nth-child(2) {
      width: 200px;
      max-width: 200px;
    }

    &:nth-child(3) {
      max-width: 500px;
    }
  }

  .paging {
    float: right;
    margin: 20px 0;
  }
}
