@import '../../../scss/reuse-mixin';

.table-all-lead {
  .table-scrollbar {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }

  .remove-border-bottom {
    border-bottom: 0;
  }

  .add-border {
    border-top: 1px solid rgba(224, 224, 224, 1);
  }

  .rotate-icon {
    transform: rotate(90deg) scaleX(-1);
  }

  .folder-color {
    color: unset;
  }

  .first-column-placeholder {
    background-color: #fff !important;
  }

  .MuiCardContent-root {
    padding: 16px 0;
  }

  .all-leads-buttons {
    margin-bottom: 20px;

    &__agent-block {
      margin: 0 10px 0 40px;
    }
  }

  .assign-buttons {
    padding-left: 0;
    display: flex;
    align-items: flex-end;
  }

  .paging-my-leads {
    justify-content: flex-end;
  }

  .top-paging {
    @include max-md {
      margin-top: 20px;
    }
  }

  .dp-flex {
    display: flex;
  }

  .remove-padding {
    padding: 0;
    border: none;
  }

  .MuiTableSortLabel-root {
    line-height: 1.5;
  }

  .footer-pagination {
    .pagination-wrapper {
      float: right;
      margin-top: 10px;

      &__matbutton {
        color: #000;
      }
    }
  }
}

.lds-dual-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  .lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 50px;

    &::after {
      content: ' ';
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 6px solid #3849ab;
      border-color: #3849ab transparent #3849ab transparent;
      animation: lds-dual-ring 1s linear infinite;
    }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
