.lead-add-lead-success {
  padding: 90px 30px;

  .placeholder-image {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    background-color: #e0e0e0;
  }

  .alert {
    font-weight: 800;
    font-size: 20px;
  }
}
